# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Виртуальное окружение
.venv/
venv/
env/
ENV/
.env
.envrc

# Тесты и покрытие
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/


.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#  Локальные БД
*.sqlite3
*.db
*.sqlite3-journal

# Логи
*.log

# RabbitMQ / Redis
*.rdb
*.aof
*.pid
mnesia/
rabbitmq-data/

#  Docker volumes
pgdata/
postgres-data/
